
.uv{
    padding:1px 10px;
    font-size:80%;
    color:rgb(236, 234, 234);
    border-radius:3px;
}

.uvFavorable{
    background:rgb(39, 182, 4);
}

.uvModerate{
    background:rgb(204, 175, 10);
}

.uvSevere{
    background:rgb(49, 21, 2);
}